/* =================================
  Element Styles
==================================== */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #4c4c4c;
  background: #f6f5f3;
}

.App {
  width: 100%;
  max-width: 900px;
  margin: 2.5em auto;
  border-radius: 0.35em;
  background: #fcfcfc;
  overflow: hidden;
  -webkit-box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
}

h1 {
  font-family: "Merienda", cursive;
  /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
  line-height: 0.65;
  margin-top: 0.5em;
  margin-bottom: 0;
  color: #f9f8fd;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

header {
  text-align: center;
  background: #cfd8dc;
  background-blend-mode: multiply;
  background-size: cover;
}

/* .table-header {
  background: #3d3d3f;
  border: none;
}

.table-header h3 {
  color: #f9f8fd;
} */

.row {
  display: flex;
  justify-content: left;
}

.avatar {
  margin-top: 4px;
}

.avatar-description {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.profile {
  margin: 0 1.25% 1em;
  padding: 1em;
}

.user-icon {
  padding: 5px;
}

.table {
  padding: 1em;
}

.form {
  padding-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-field {
  flex-basis: 200px;
}

.text-field label {
  /* color: #f9f8fd; */
}

.text-field:before {
  border-bottom: white;
}

.form-control {
  padding-right: 15px;
}

.button-control {
  padding-left: 15px;
  display: inline-flex;
}

.paper {
  margin: 0 1.25% 1em;
  padding: 1em;
  background: #fff;
  border-radius: 0.2em;
  position: relative;
}

/* =================================
  Media Queries
==================================== */

@media (max-width: 768px) {
  header {
    padding: 1.25em;
  }
  h1 {
    font-size: 3.6em;
    margin: 0.3em 0 0;
  }

  .wrapper {
    margin: 0;
  }
  .main {
    padding: 2em 1em 0.75em;
  }
}

@media (min-width: 769px) {
  header {
    padding: 2.5em 1em 2em;
    background-position: 0 -95px;
  }
  h1 {
    font-size: 4.6em;
  }
  h2 {
    font-size: 1.95em;
  }

  .wrapper {
    width: 90%;
  }
  .main {
    padding: 2em 2em 2.5em;
    position: relative;
    z-index: 10;
  }
  .main > div {
    float: left;
    margin-left: 1.25%;
    margin-bottom: 1.5em;
  }
}
